link.txt
thuy-keys.pem
/front_end/node_modules
*/venv/
/Backend/venv
/Backend/__pycache__/
/Backend/Components/__pycache__/
__pycache__/
*.py[cod]
*.pyc
*.pyo
/Backend/aws_deploy/
/Backend/Components/config.py